@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.section-offset {
  scroll-margin-top: 4rem;
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 20% 30%,
      rgb(243, 147, 103) 0px,
      transparent 70%
    ),
    radial-gradient(at 90% 20%, rgb(226, 145, 74) 0px, transparent 70%),
    radial-gradient(at 50% 90%, hsla(198, 75%, 50%, 1) 0px, transparent 70%),
    radial-gradient(at 5% 70%, rgb(222, 170, 74) 0px, transparent 70%),
    radial-gradient(at 95% 95%, rgb(250, 178, 126) 0px, transparent 70%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(80px) saturate(150%);
  top: 80px;
  opacity: 0.1;
}

.no-horizontal-scroll {
  overflow-wrap: break-word; 
  word-wrap: break-word; 
  max-width: 150px;
  overflow: hidden; 
  text-overflow: ellipsis; 
}